.chat-page {
    width: 100%;
    height: 98vh;
}

.chat-history {
    width: 100%;
    height: 85vh;
    background-image: linear-gradient(lightyellow, yellow, orange, orangered, red, darkred);
}

.chat-form {
    width: 100%;
    height: 13vh;
}

.chat-form form {
    margin: 10px;
}

.chat-form input {
    width: 80%;
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.chat-form button  {
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}